* {
    font-family: Roboto Mono, Nunito, Raleway;
}

img, embed, object, video {
    padding: 10px;
    max-width: 100%;
    border-radius: 50%;
}

nav a {
    display: flex;
    text-decoration: none;
    font-size: 1em;
    padding: 1px;
    margin: 5px;
    text-align: justify;
    color: white;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.topnav {
    background-color: #9AADBF;
    box-shadow: 5px 5px 9px 0px rgba(0,0,0,0.15);
}

.bottomnav a{
    color: black;
}

@media only screen and (max-width: 470px) {
    .flex-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
}
  